<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390899887504-g2nss2c7rp5166vlc33ag3oetu016gjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390899887504-g2nss2c7rp5166vlc33ag3oetu016gjn</string>
	<key>API_KEY</key>
	<string>AIzaSyDzB7Tpc-ygj0ULb7aPBPp8Byj6-pPdBMU</string>
	<key>GCM_SENDER_ID</key>
	<string>390899887504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainsolo</string>
	<key>PROJECT_ID</key>
	<string>trainsolo-soccer</string>
	<key>STORAGE_BUCKET</key>
	<string>trainsolo-soccer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390899887504:ios:6f11537fb6830b227b5715</string>
</dict>
</plist>